{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<h1>Events List</h1>

<section>
    {% for event in events %}
    <div class = "events"> <h2> {{event.name}} </h2>
        <p>Date: {{event.date}}</p>
        <p>Number of Guests: {{event.guest_count}}</p>
        <p>Location: {{event.location}}</p>
        <p>Description: {{event.description}}</p>
        <p>{{"Recurring" if event.recurring(events) == True else "One time event"}}</p>
    </div>
    {% endfor %}
</section>

<div class = "form">
    <h2>Add Event</h2>
<form action="/events" method="post">

        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>

        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <br>
        
        <label for="guest_count">Number of Guests</label>
        <input type="number" name="guest_count" id="guest_count">
        <br>

        <label for="loacation">Location</label>
        <input type="text" name="location" id="location">
        <br>

        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="3"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock  %}


